/* line 16, D:/Programming/politex/web/web-front/sass/styles.scss */
body {
  font: 100% Helvetica, sans-serif;
  background-color: #f2fffa;
  color: #333;
  margin: 0 0 0 0;
}

/* line 24, D:/Programming/politex/web/web-front/sass/styles.scss */
.modal {
  background-color: #a8ffdc;
  margin: auto;
  text-align: center;
  width: 30%;
  padding: 30px 30px 30px 30px;
  border-radius: 15px;
  border: 2px solid #92dec0;
}

/* line 32, D:/Programming/politex/web/web-front/sass/styles.scss */
.modal .field {
  width: 100%;
  margin-bottom: 5px;
}

/* line 38, D:/Programming/politex/web/web-front/sass/styles.scss */
.wrong-credentials {
  color: red;
  display: none;
}

@media only screen and (max-width: 900px) {
  /* line 45, D:/Programming/politex/web/web-front/sass/styles.scss */
  .modal {
    width: 100%;
    border-radius: 0;
    border: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

@media only screen and (max-device-width: 900px) {
  /* line 55, D:/Programming/politex/web/web-front/sass/styles.scss */
  .modal {
    width: 100%;
    border-radius: 0;
    border: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

/* line 65, D:/Programming/politex/web/web-front/sass/styles.scss */
.info {
  background-color: #a8ffdc;
  width: 30%;
  margin: auto;
  text-align: left;
  padding: 30px 30px 30px 30px;
  border-radius: 0 15px 0 15px;
  border: 2px solid #92dec0;
}

/* line 73, D:/Programming/politex/web/web-front/sass/styles.scss */
.info .field {
  width: 100%;
  margin-bottom: 5px;
}

@media only screen and (max-width: 900px) {
  /* line 82, D:/Programming/politex/web/web-front/sass/styles.scss */
  .info {
    width: 100%;
    border-radius: 0;
    border: 0;
    padding-right: 0;
  }
}

@media only screen and (max-device-width: 900px) {
  /* line 91, D:/Programming/politex/web/web-front/sass/styles.scss */
  .info {
    width: 100%;
    border-radius: 0;
    border: 0;
    padding-right: 0;
  }
}

/* line 101, D:/Programming/politex/web/web-front/sass/styles.scss */
#header {
  width: 100%;
  height: 70px;
  background-color: #a8ffdc;
  margin-bottom: 30px;
}

/* line 106, D:/Programming/politex/web/web-front/sass/styles.scss */
#header .button {
  float: left;
  height: 100%;
  min-width: 7%;
  margin: 0 10px 0 10px;
  text-align: center;
  font-weight: 16;
}

/* line 114, D:/Programming/politex/web/web-front/sass/styles.scss */
#header .button:hover {
  -webkit-animation: shadow-pop-tr 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  animation: shadow-pop-tr 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  background-color: #a8ffdc;
}

/* line 118, D:/Programming/politex/web/web-front/sass/styles.scss */
#header .mobile {
  display: none;
  text-align: center;
  width: 100%;
}

/* line 123, D:/Programming/politex/web/web-front/sass/styles.scss */
#header #menu {
  font-weight: bold;
  margin-left: 20px;
  width: 30px;
}

/* line 127, D:/Programming/politex/web/web-front/sass/styles.scss */
#header #menu h1 {
  margin: 0;
}

@media only screen and (max-width: 900px) {
  /* line 135, D:/Programming/politex/web/web-front/sass/styles.scss */
  #header .button {
    display: none;
  }
  /* line 138, D:/Programming/politex/web/web-front/sass/styles.scss */
  #header .mobile {
    display: inline-block;
  }
}

@media only screen and (max-device-width: 900px) {
  /* line 146, D:/Programming/politex/web/web-front/sass/styles.scss */
  #header .button {
    display: none;
  }
  /* line 149, D:/Programming/politex/web/web-front/sass/styles.scss */
  #header .mobile {
    display: inline-block;
  }
}

/* line 156, D:/Programming/politex/web/web-front/sass/styles.scss */
#transactions {
  border-collapse: collapse;
  width: 100%;
}

/* line 161, D:/Programming/politex/web/web-front/sass/styles.scss */
#error {
  background-color: #ffb5ab;
  border: 2px solid #e39d94;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-3-23 13:32:44
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation shadow-pop-tr
 * ----------------------------------------
 */
@-webkit-keyframes shadow-pop-tr {
  0% {
    -webkit-box-shadow: 0 0 #7cc4a8, 0 0 #7cc4a8, 0 0 #7cc4a8, 0 0 #7cc4a8, 0 0 #7cc4a8, 0 0 #7cc4a8, 0 0 #7cc4a8, 0 0 #7cc4a8;
    box-shadow: 0 0 #7cc4a8, 0 0 #7cc4a8, 0 0 #7cc4a8, 0 0 #7cc4a8, 0 0 #7cc4a8, 0 0 #7cc4a8, 0 0 #7cc4a8, 0 0 #7cc4a8;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px -1px #7cc4a8, 2px -2px #7cc4a8, 3px -3px #7cc4a8, 4px -4px #7cc4a8, 5px -5px #7cc4a8, 6px -6px #7cc4a8, 7px -7px #7cc4a8, 8px -8px #7cc4a8;
    box-shadow: 1px -1px #7cc4a8, 2px -2px #7cc4a8, 3px -3px #7cc4a8, 4px -4px #7cc4a8, 5px -5px #7cc4a8, 6px -6px #7cc4a8, 7px -7px #7cc4a8, 8px -8px #7cc4a8;
    -webkit-transform: translateX(-8px) translateY(8px);
    transform: translateX(-8px) translateY(8px);
  }
}

@keyframes shadow-pop-tr {
  0% {
    -webkit-box-shadow: 0 0 #7cc4a8, 0 0 #7cc4a8, 0 0 #7cc4a8, 0 0 #7cc4a8, 0 0 #7cc4a8, 0 0 #7cc4a8, 0 0 #7cc4a8, 0 0 #7cc4a8;
    box-shadow: 0 0 #7cc4a8, 0 0 #7cc4a8, 0 0 #7cc4a8, 0 0 #7cc4a8, 0 0 #7cc4a8, 0 0 #7cc4a8, 0 0 #7cc4a8, 0 0 #7cc4a8;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px -1px #7cc4a8, 2px -2px #7cc4a8, 3px -3px #7cc4a8, 4px -4px #7cc4a8, 5px -5px #7cc4a8, 6px -6px #7cc4a8, 7px -7px #7cc4a8, 8px -8px #7cc4a8;
    box-shadow: 1px -1px #7cc4a8, 2px -2px #7cc4a8, 3px -3px #7cc4a8, 4px -4px #7cc4a8, 5px -5px #7cc4a8, 6px -6px #7cc4a8, 7px -7px #7cc4a8, 8px -8px #7cc4a8;
    -webkit-transform: translateX(-8px) translateY(8px);
    transform: translateX(-8px) translateY(8px);
  }
}

/*# sourceMappingURL=styles.css.map */